<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="templates/layouts/app.css">
    <title>Practice project</title>
</head>
<body>
    <div class="title_info">
        <h1 class="title">Find docs</h1>
    </div>
    <div class="main_info">
        <div class="description">
            <p>Text about my find service</p>
        </div>
        <div class="search">
            <form method="get">
                <input name="search" placeholder="Search here..." type="search">
                <button type="submit">Find</button>
            </form>
        </div>
        <div class="results">
            <div class="result">
                <table>
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>Rubrics</th>
                        <th>Text</th>
                        <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{ row[0][0] }}</td>
                        <td>{{ row[0][1] }}</td>
                        <td>{{ row[0][2] }}</td>
                        <td>{{ row[0][3] }}</td>
                        <td>
                            <form method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>